.titlebar {
  background: @theme_bg_color;
  border-bottom: 0;
}

:disabled:not(:backdrop) image { color: darker(@theme_fg_color); }

window.Connected .titlebar:backdrop > :not(.status_button),
window.Connected:backdrop .unimportant {
  transition-duration: 1s;
  opacity: 0;
}

.status_label { font-weight: bold; margin: 0 12px; }

window.Connected .titlebar label.status_label { color: #1DB954; }

window.Disconnected .titlebar label.status_label { color: red; }

window.Connecting .titlebar label.status_label { color: orange; }

